#fotosSanPatricio {
    align-content: center;
    height: 300px;
    margin: 19px;
    justify-content: space-evenly;
    justify-content: space-evenly;
    align-content: center;
    display: inline-flex;

}


.logos {
    width: 60px;
}




.bordesTitFotos {
    border-style: solid;
    color: black;
    padding: 15%;

}



#fotosSanPatricio {
    align-content: center;
    height: 300px;
    margin: 19px;
    justify-content: space-evenly;
    justify-content: space-evenly;
    align-content: center;
    display: inline-flex;

}

#titulosFotos {
    color: rgb(26, 131, 43);
    background-image: radial-gradient(yellow, orange, green, );
    font-size: xx-large;
    font-family: fantasy;
    padding: 10px;
    text-align: center;
}




#bordesNavegador {
    align-content: center;
    display: inline-block;
    overflow: hidden;
    margin: auto;
    padding: 6px;
    color: darkorange;
    font-weight: 400;
    font-size: larger;
    justify-content: space-between;
    width: auto;
}




#redes {
    background-image: url(../assets/logo1.jpeg);
    background-position-y: bottom;
    text-align: center;
    row-gap: 75px;
    text-shadow: 1px;
    line-height: 100px;
    margin-top: 50px;
}

.fondoDanza {
    background-image: url(../assets/vestido5.jpeg);
    background-size: contain;


}


#grilla {
    display: grid;
    grid-template-areas:
        "header  header"
        "danzasIr tiposDanzas"
        "danzasIr  tiposDanzas"
        "footer footer";
    grid-template-rows: 5% 45% 45% 5%;
    grid-template-columns: 3fr 1fr;
}

.grid {
    column-gap: 250px;
    row-gap: 25px;
}

.border {
    border: 1px solid black;
    font-family: fantasy;
    background-color: bisque;
    text-align: center;

}


header {
    grid-area: header;



}

footer {
    grid-area: footer;
    text-align: start;
    font-family: fantasy;
    background-color: rgb(243, 212, 171);
}

section#danzasIr {
    grid-area: danzasIr;
}

section#tiposDanzas {
    grid-area: tiposDanzas
}

#tiposDanzas {
    color: beige;
}

#grilla h1 {
    padding-top: 30px;
    color: rgb(179, 224, 55);
    width: 100%;
    font-weight: bold;
    font-family: fantasy;
    font-size: 200%;
    align-content: center;
    align-items: center ;
    text-align: center;
}

#fichaTecnica {
    background-color: burlywood;
    color: darkgreen;
    font-size: xx-large;
    height: 70px;
    font-family: fantasy;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    text-align: center;
    text-justify: center;
}

.fondoDibus {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fondoDibus::before {
    content: "";
    background-image: url(../assets/logo1.jpeg);
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 30%;
    filter: blur(2px)
}

h1 {
    position: relative;
    color: #000;
    text-align: center;
}

.miestilo {
    background-color: antiquewhite;
}

